$container-width: 100%;
$container-width-lg: 1170px;
$container-width-md: 980px;
$container-width-sm: 767px;
$container-width-xs: 320px;

$column-count: 12;
$container-padding: 5px 5px;
$column-padding: 0;


