@import "resetcss";
@import "grid";
@import "variables";
@import "mixins";
@import "media-grid";

@function getColumnWidth($width, $columns){
  @return ($width / $columns);
}

.row {
  @include clearfix;
}

.va-inline {
  @include vertical-align-inline;
}
.va-block {
  @include vertical-align-block;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

[class^="col-"]{
  @include column($column-padding);
  border: 1px solid;
}

.col-1 {
  width: getColumnWidth($container-width,$column-count);
}
.col-2 {
  width: getColumnWidth($container-width,$column-count)*2;
}
.col-3 {
  width: getColumnWidth($container-width,$column-count)*3;
}
.col-4 {
  width: getColumnWidth($container-width,$column-count)*4;
}
.col-5 {
  width: getColumnWidth($container-width,$column-count)*5;
}
.col-6 {
  width: getColumnWidth($container-width,$column-count)*6;
}
.col-7 {
  width: getColumnWidth($container-width,$column-count)*7;
}
.col-8 {
  width: getColumnWidth($container-width,$column-count)*8;
}
.col-9 {
  width: getColumnWidth($container-width,$column-count)*9;
}
.col-10 {
  width: getColumnWidth($container-width,$column-count)*10;
}
.col-11 {
  width: getColumnWidth($container-width,$column-count)*11;
}
.col-12 {
  width: getColumnWidth($container-width,$column-count)*12;
}

.right {
  float: right;
}
.left {
  float: left;
}

.link {
  @include color-link(red);
}

.color {
  background-color: yellow;
}
.test_wrapper {
  width: 100%;
  height: 400px;
}


.wrapper_test-2 {
  width: 100%;
  height: 260px;
}
.inner {
  max-width: 300px;
}